@font-face {
    font-family: ProximaNovaLight;
    src: url(fonts/ProximaNova-Light.woff);
    
}
@font-face {
    font-family: ProximaNovaRegular;
    src: url(fonts/ProximaNova-Regular.woff);

}

.container {
    height: 290px;
    width: 100%;

    /* background-color: #da2a2a; */
    text-align: center;
    /* padding-top: 5%; */

    
}
.icon-stat {
    display: inline-block;
    height: 290px;
    width: 220px;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 56px
    
}

.container>div{
   
    display: inline-block;
}
.lighten {
    font-family: ProximaNovaLight;
    font-size: 14px;
    line-height: 20px;
}
.bolden {
    font-family: ProximaNovaRegular;
    font-size: 14px;
    line-height: 20px;
}

.image-container {
    position: relative;
    height: 67px;
    width: 65px;
    display: block;
    margin: auto auto;
    
}
.image-container img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}
.image-container:hover img.soverlay {
    display: inline;
}
.image-container:hover img.foverlay,
.image-container img.soverlay  {
    display: none;
}
