main {
    margin: auto;
    margin-top: calc(50vh - 700px/2);
    width: 800px;
    height: 700px;
    background-color: #3399CC;
    border: 30px solid;
    border-color: #2B81AC;
    color: white
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    max-height: 400px;
    background-color: red;
    margin: auto;
}

.one {
    width: 25%;
    height: 25%;
    background-color: salmon;
}
.double {
    width: 50%;
    height: 25%;  
    background-color: blue;
}
.all {
    width: 100%
}