main {
    background: url(images/background.png);
    background-size: cover;
}
footer {
    background: url(images/bg-foodter.png);
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    color: rgb(185, 185, 185);
}
footer p {
    margin: 0;
    padding: 0;
}
.form-content {
    display: flex;
    justify-content: space-around;
}
h1 {
    margin: 0;
    padding-top: 100px;
    font-size: 90px;
    font-family: "Raleway";
    color: rgb(38, 38, 38);
    font-weight: bold;
    line-height: 0.278;
    text-align: center;
}
.support-title {
    padding-top: 45px;
    font-size: 17px;
    font-family: "Raleway";
    color: rgb(38, 38, 38);
    line-height: 1.471;
    text-align: center;

}
input, textarea {
    background-color: #78DAD9;
    border: none;
}
form input{
    height: 50px;
    width: 100%;
}
form textarea{
    height: 250px;
    width: 100%;
}
form button:focus,input:focus,textarea:focus {
    background-color: #00C4C4;
    border: none;
    outline: none !important;
}
form {
    width: 30%;
}
footer p:first-child {

    font-size: 16px;
    font-family: "Raleway";
    color: rgb(185, 185, 185);
    line-height: 1.563;

}
footer p:nth-child(2){
    font-size: 25px;
    font-family: "Pacifico";
    color: rgb(185, 185, 185);
    line-height: 1;
    text-align: right; 
}
footer p:nth-child(3){
    font-size: 15px;
    font-family: "Raleway";
    color: rgb(185, 185, 185);
    line-height: 1.667;
}
button {
    width: 100%;
    height: 35px;
    background-color: #78DAD9;
    border: none;
    outline: none !important;
margin-bottom: 50px;}
footer>p>span {
    color:red
}

