@font-face {
    font-family: "HansKedrick";
    src: url('fonts/HansKendrick-Regular.otf');
}
body {
    background-color: #E2E7EC;
}
main {
    margin: auto;
    width: 1120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.content-first-post {
    position: relative;
}
.inside {
    position: absolute;
    top: 400px;
    left: 45px
}
.date {
    font-family: "HansKedrick";
    font-size: 13px;  
    color: rgba(129, 129, 129, 0.502);
    line-height: 15px;
    margin: 0;
}
.post-title {
    font-size: 30px;
    font-family: "HansKedrick";
    color:white;
    font-weight: bold;
    line-height: 35px;
    margin: 0;
  }
  .content-post {
      width: 360px;
      height: 540px;
      background-color: white;
  }
  .content-post > div {
      margin-top: -5px;
      padding-top: 30px;
      padding-left: 30px;
  }
  .content-post-post-title {
    font-size: 22px;
    font-family: "HansKedrick";
    color: rgb(29, 29, 29);
    font-weight: bold;
    text-transform: uppercase;
  }
  