@font-face {
    font-family: Gotham-bold;
    src: url(../fonts/gothambold/gothambold1.woff);

  }

  @font-face {
    font-family: Gotham-book;
    src: url("../fonts/GothamBook/GothamBook.ttf");
    
  }
  @font-face {
    font-family: 'Gotham-regular';
    src: url("../fonts/Gotham\ Medium\ Regular/Gotham Medium Regular.ttf");
    
  }