* {
    margin: 0
}
.icon-fonts {
    background-color: #70BFFF;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.icon-fonts__text{
    background: url(images/img-tomato.png) no-repeat center;
    background-size: cover;

    width: 500px;
    height: 500px;
}
.cart-svg, .quality-svg, .delivery-svg, .carrot-svg {
  width: 30px;
  height: 30px;
  padding: 15px;
}
.icon-fonts__button {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
    height: 100%;
    border: 0;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5); 
    width: 200px;
    height: 75px; 
    margin:10px
}

.button__text {

    width: 70%;
    font-size: 10px;
}
.button__divider::before{
    content: "";
    position: absolute;
    border-left: gray solid 1px;
    height: 100%;
    top: 0;
}
.icon-fonts__tomato {
    color: white;
    font-size: 35px;
    background: url(images/img-tomato.png) no-repeat center;
    background-size: contain;
    width: 462px;
    height: 527px;
    display: flex;
    align-items: center;
    justify-content: center;

}