@import "variables.scss";
@import "mixins.scss";
* {
  margin:0;
  padding:0;
}
.wrapper {
  width: 2050px;
  margin: auto;
}

.genheader {
    
    &__link {
      color: rgb(153, 153, 153);
      text-decoration: none;
    }
    
    &__self-info {
      background-color: $bg-strip-color;
    height: 45px;
      position: relative;
      font-size: 13px;
      font-family: "Montserrat";
      color: #999999;
    }
    &__currency-container:hover,&__register:hover,&__sign-in:hover, &__both-list:hover {
        background-color: rgb(0, 200, 200);
        color: #fff;
    }
    &__register:hover a,&__sign-in:hover a{
      color: #fff;
    }
    &__currency-container,&__register,&__sign-in, &__both-list {
      display: flex;
      align-items: center;
      height: 45px;
  }

		&__currency-container {
      position: absolute;
      left: 440px;
     
		}

		&__register {
      height: 45px;
      position: absolute;
      left:1245px
		}

		&__sign-in {
      height: 45px;
      position: absolute;
      left:1340px
		}

		&__both-list {
      height: 45px;
		}

		&__general {
      background: url(../img/png/container.png) center no-repeat;
    background-size: cover;
    height: 920px;
    width: 2050px;
      
		}
}
.currency {
  color: -internal-light-dark(black, rgb(51, 51, 51));

		&__list {
      border: none;
      background-color: transparent;
      outline: none;
      color: rgb(153, 153, 153);
    }
    .currency:hover &__list {
      color: #fff;
		}

		&__item {
      color: black;
		}
}
.both {
    position: absolute;
    left: 1470px;
		&__container {
      position: relative;
		}

		&__list {
      display: none;
      position: absolute;
      top: 30px;
      right: -40px;
      background-color: #00c8c8;
      width: 141.6px;
      list-style: none;
    }
    &__list li:hover {background-color: #ddd;}
  
}
.both:hover .both__list {
  display: block;}

.cart {
  height: 20px;
  width: 20px;
  margin:0px 20px 0px 20px;
}
.angle-down {
  width: 9px;
  margin:0px 20px 0px 10px;
      
}
.general {
  position: relative;
  display: inline-block;

		&__logo {
      position: absolute;
      left:40px;
      top:40px;
		}

		&__logo-img {
      width: 240px;
		}

		&__nav {
      position: absolute;
      left:1015px;
      top:48px;
      width: 600px;
		}

		&__nav-list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      font-size: 13px;
      font-family: "Montserrat";

		}

		&__nav-item {
      height: 50px;
    }
    &__nav-item::before {
      content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23999999' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'%3E%3C/path%3E%3C/svg%3E");
      display: block;
      position: absolute;
      width: 9px;
      top:15px;
    }
    &__nav-item:hover::before {
      content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%2300c8c8' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'%3E%3C/path%3E%3C/svg%3E");
    }
    &__nav-item:hover {
      color: #00c8c8;
    }
    &__nav-item:hover .nav-item__content {
      display: block;
    }


		&__search {
      border: 1px  #e7e7e7 solid;
      position: absolute;
      left: 1725px;
      top: 36px;
      width: 190px;
      height: 30px;
      padding: 0px 10px;
    }
    &__search::before{
      content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23999999' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'%3E%3C/path%3E%3C/svg%3E");
      display: block;
      position: absolute;
      width: 9px;
      top:15px;

    }

		&__search-button {
      height: 60px;
      width: 345px;
      box-sizing: border-box;
      border: 2px rgb(115, 115, 115) solid;
      position: absolute;
      left:1390px;
      top: 740px
		}

		&__search-text {
      font-size: 16px;
      font-family: "Montserrat";
      color: rgb(69, 70, 71);
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;
      text-decoration: none;
      letter-spacing: 3px;
		}
}
.nav-item {

		&__content {
      width: 470px;
      background-color: rgb(248, 248, 248);
      box-shadow: 0px 17px 24px 0px rgba(0, 0, 0, 0.14);
      height: 527px;
      padding: 40px 30px;
      box-sizing: border-box;
      position: absolute; 
      top:35px;
      display:none;
    }
}
.content {

  &__divider {
    background-color: rgb(238, 238, 238);
    height: 1px;
    border: none;
    margin-top: 60px;
    
  }
  &__divider--bottom {
    margin-top: 45px;
  }
		&_item {
      padding: 15px;
    }
    &__item--small-covered {
      width: 420px;
    height: 500px;
    object-fit: cover;
    }
		&__element-ls {
      display: inline-block;
      width: 203px;
      text-align: start;
      vertical-align:top;
		}
		&__element-ls-title {
        font-size: 14px;
        font-family: "Montserrat";
        color: rgb(87, 81, 83);
        text-transform: uppercase;
        line-height: 1.667;
        font-weight: bold;
		}
		&__element-ls-element {
      font-size: 14px;
      font-family: "Montserrat";
      color: rgb(114, 114, 114);
      line-height: 2.143;

		}
		&__element-baner {
      background-color: rgb(51, 51, 51);
      width: 407px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__element-baner p{
      font-size: 36px;
      font-family: "Montserrat";
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;
		}
		&__upper-list {
      width: 1770px;
  margin: auto;
		}

    &__block {
      display: flex;
      justify-content: space-between;
    }
		&__items-group {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
		}
}

.button {
}
.categories {
  padding-top:55px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-family: "Montserrat";
  color:$text-color ;
  text-transform: uppercase;
  line-height: 1.538;
  text-align: left;
  width: 700px;
  list-style: none;
  font-weight: bold;

		&__item:hover {
      color: $text-color-highlight;
		}
}
.small {
}
.large {
}
.men-bg {
  background: url(../img/png/REPLACE.png) center no-repeat;
  background-size: auto;
 
}
.women-bg {
  background: url('../img/png/REPLACE\ copy.png') center no-repeat;
  background-size: auto;
}
.your-bg{ 
  background: url('../img/png/photo\ silhouette.png') center no-repeat;
  background-size: auto;
}
.content__lower-list {
  margin-top:60px ;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 530px;
    width: 665px;
    padding-right: 55px;
    background-color: #F8F8F8;
    box-sizing: border-box;
    

		&__title {
      font-size: 48px;
      font-family: "Montserrat";
      color: rgb(87, 81, 83);
      font-weight: bold;
      line-height: 1.125;
      text-align: right;

		}

		&__subtitle {
      font-size: 48px;
      font-family: "Montserrat";
      color: rgb(87, 81, 83);
      line-height: 1.125;
      text-align: right;
		}

		&__text {
        font-size: 15px;
        font-family: "Roboto";
        color: rgb(114, 114, 114);
        line-height: 1.467;
        text-align: right;
        width: 297px;
        margin-top:30px;
		}


		&__button  {
      height: 60px;
      width: 180px;
      box-sizing: border-box;
      border: 2px rgb(115, 115, 115) solid;
      float: right;
      margin-top:30px;
		}

		&__button-text {
      font-size: 16px;
      font-family: "Montserrat";
      color: rgb(69, 70, 71);
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;
      text-decoration: none;
      letter-spacing: 3px;

}
&__button:hover  {
  background-color: $text-color-highlight;
  
}
&__button:hover &__button-text {
  color:white
}
}
.backyard {
  background-color: #F8F8F8;


  &__upper {
      width: 1170px;
      margin:auto;
      padding: 60px 0px;

    }
    &__part {
      display: flex;
      justify-content: space-between;
      color:$text-color;
    
    }
    &__part--up {
      padding-bottom: 60px;
    
    }

		&__attributes {
      list-style: none;
      text-align: start;
      font-size: 14px;
      font-family: "Montserrat";
      color: rgb(114, 114, 114);
      line-height: 2.143;
      
		}

		&__attr--bold {
  
      font-weight: bold;
		}

		&__attr-link {
      text-decoration: none;
      color: rgb(114, 114, 114);
      
    }
    &__attr-link:hover{
      color: $text-color-highlight;
    }

		&__upper-rectangle {
      width: 570px ;
      height: 200px;
      background-color: #333333;
      text-align: center;
      font-size: 36px;
      color: rgb(255, 255, 255);
      line-height: 1.333;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-family: "Montserrat";
      letter-spacing: 2px;
		}

		&__upper-rectangle-text {

		}
    &__upper-rectangle-text-title{
      font-weight: bold;

    }
		&__upper-rectangle--turquoise {
      background-color: $text-color-highlight;
      width: 570px ;
      height: 200px;
      padding: 0px 140px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      
		}

		&__lower {
      background: $bg-strip-color;
    }
    &__container {
      width: 1170px;
      margin:auto;
      display: flex;
      justify-content: space-between;
      color: $text-color;
      font-size: 13px;
      font-family: "Montserrat";
    }
	
}
.icons {

		&__element {
      
    }
   
}
.facebook,.twitter,.google,.linkedin {
  width: 25px;
  fill: white;
  cursor: pointer;
}
.content_item {
  position: relative;
}
.content_item:hover .info-img-bl{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
}
.content_item:hover img{
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
}

.info-img-bl {
  width: 420px;
  height: 150px;
  background-color: rgb(248, 248, 248);
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  top:510px;
  padding: 10px;
  color: rgb(114, 114, 114);
  display: none;
  
  &__title {
    font-weight: bold;
    font-family: "Montserrat";
  }

  &__subtitle {
  }

  &__container {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-family: "Montserrat";
  text-align: center;
  }

  &__icon-div {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon-div:hover {
    background-color: $text-color-highlight;
  }
}
.cart-info {
  width: 20px;
  color:white

}
.item-price {
  font-size: 21px;
  font-family: "Montserrat";
  color: rgb(154, 154, 154);
  text-transform: uppercase;
  position: absolute;
  left: 30px;
  top: 30px;
}



@media screen and (max-width: 576px) {
  .wrapper {width: 350px;
    margin:auto; }
}

@media screen and (min-width: 576px) and (max-width: 1200px) {
  .wrapper {width: 768px;
    margin:auto; }

    .genheader {

      &__link {
        color: rgb(153, 153, 153);
        text-decoration: none;
      }
      
      &__self-info {
        background-color: $bg-strip-color;
        height: 45px;
        position: static;
        font-size: 13px;
        font-family: "Montserrat";
        color: #999999;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
      }
      &__currency-container:hover,&__register:hover,&__sign-in:hover, &__both-list:hover {
          background-color: rgb(0, 200, 200);
          color: #fff;
      }
      &__register:hover a,&__sign-in:hover a{
        color: #fff;
      }
      &__currency-container,&__register,&__sign-in, &__both-list {
        display: flex;
        align-items: center;
        height: 45px;
    }
  
      &__currency-container {
        position: static;
    
       
      }
  
      &__register {
        height: 45px;
        position: static;
  
      }
  
      &__sign-in {
        height: 45px;
        position: static;
 
      }
  
      &__both-list {
        height: 45px;
      }
  
      &__general {
        background: url(../img/png/container.png) center no-repeat;
      background-size: contain;
        height: 600px;
      width: 768px;
        
      }
  }
  .currency {
    color: -internal-light-dark(black, rgb(51, 51, 51));
  
      &__title {
      }
  
      &__list {
        border: none;
        background-color: transparent;
        outline: none;
        color: rgb(153, 153, 153);
      }
      .currency:hover &__list {
        color: #fff;
      }
  
      &__item {
        color: black;
      }
  }
  .both {
      position: static;
      
      &__container {
        position: relative;
      }
      &__text {
      }
  
      &__list {
        display: none;
        position: absolute;
        top: 30px;
        right: -40px;
        background-color: #00c8c8;
        width: 141.6px;
        list-style: none;
      }
      
      &__list li:hover {background-color: #ddd;}
    
  }
  .both:hover .both__list {
    display: block;}
  
  .cart {
    height: 20px;
    width: 20px;
    margin:0px 20px 0px 20px;
  }
  .angle-down {
   
    width: 9px;
    margin:0px 20px 0px 10px;
        
  }
  .general {
    position: static;
    display: inline-block;
  
      &__logo {
        position: relative;
      }
      &__logo-img {
        width: 240px;
      }
  
      &__nav {
        position: relative;
        left: 50px;
        width: 450px;
        z-index: 1;
      }
  
      &__nav-list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-size: 13px;
        font-family: "Montserrat";

      }
  
      &__nav-item {
        height: 50px;
  
      }
      &__nav-item::before {
        content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23999999' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'%3E%3C/path%3E%3C/svg%3E");
        display: block;
        position: absolute;
        width: 9px;
        top:15px;
      }
      &__nav-item:hover::before {
        content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%2300c8c8' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'%3E%3C/path%3E%3C/svg%3E");
      }
      &__nav-item:hover {
        color: #00c8c8;
      }
      &__search {
        border: 1px  #e7e7e7 solid;
        position: relative;
        left: 550px;
        top: -25px;
        width: 150px;
        height: 30px;
        padding: 0px 10px;
      }
      &__search::before{
        content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23999999' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'%3E%3C/path%3E%3C/svg%3E");
        display: block;
        position: absolute;
        width: 9px;
        top:15px;
      }
      &__search-button {
        height: 60px;
        width: 345px;
        left:200px;
        top:450px;
        box-sizing: border-box;
        border: 2px rgb(115, 115, 115) solid;
        position: relative;
      }
      &__search-text {
        font-size: 16px;
        font-family: "Montserrat";
        color: rgb(69, 70, 71);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        text-decoration: none;
        letter-spacing: 3px;
      }
  }
  .nav-item {
  
      &__content {
        width: 470px;
        background-color: rgb(248, 248, 248);
        box-shadow: 0px 17px 24px 0px rgba(0, 0, 0, 0.14);
        height: 527px;
        padding: 40px 30px;
        box-sizing: border-box;
        position: absolute; 
        top:35px;
        display:none;
      }
  }

  .content {

    &__divider {
      background-color: rgb(238, 238, 238);
      height: 1px;
      border: none;
      margin-top: 60px;
      
    }
    &__divider--bottom {
      margin-top: 45px;
    }
      &_item {
        padding: 15px;
      }
      &__item--small-covered {
        width: 420px;
      height: 500px;
      object-fit: cover;
      }
      &__element-ls {
        display: inline-block;
        width: 203px;
        text-align: start;
        vertical-align:top;
      }
      &__element-ls-title {
          font-size: 14px;
          font-family: "Montserrat";
          color: rgb(87, 81, 83);
          text-transform: uppercase;
          line-height: 1.667;
          font-weight: bold;
      }
      &__element-ls-element {
        font-size: 14px;
        font-family: "Montserrat";
        color: rgb(114, 114, 114);
        line-height: 2.143;
  
      }
      &__element-baner {
        background-color: rgb(51, 51, 51);
        width: 407px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__element-baner p{
        font-size: 36px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
      }
      &__upper-list {
        width: 768px;
        margin: auto;
      }
  
      &__block {
        display: flex;
        justify-content: space-between;
        width: 768;
      }
      &__items-group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      
  }
  .content_item:hover .info-img-bl{
    display: none;
  }
  .md {
    width: 300px;
  }
  .content__lower-list p {
    font-size: 12px;
    width: 200px;
    text-align: center;
  }
  .men-bg, .your-bg, .women-bg {
    background: none;
  }
  .backyard__part--up p {
    font-size: 10px;
    width: 200px;
    text-align: center;
  }
  .backyard__part {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .mds {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

  }
  .backyard__attributes {
    width: 220px;
    margin: 10px
  }
  .backyard__part,.backyard__container {
    width: 768px;
  }
}
