@font-face {
    font-family: "Proxima-Nova-Regular";
    src: url('Proxima Nova/Proxima Nova Regular.otf')  format("opentype");
    font-family: "PlayfairDisplay";
    src: url('Proxima Nova/Playfairdisplayregular.woff');
    font-family: "FuturaPT";
    src: url('Proxima Nova/Futura PT.ttf');
    font-family: "Georgia";
    src: url('Proxima Nova/Georgia.woff');
    font-family: "Georgia-Italic";
    src: url('Proxima Nova/Georgia-Italic.woff');
}
* {
    margin: 0;
}
main {
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    background: url(background.png);
    position: relative;
}
.main-content {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.22);
        position: absolute;
        left: 70px;
        top: 149px;
        width: 1060px;
        height: 750px;
        z-index: 1;
      }
.main-title {
    background-color: rgb(24, 24, 24);
    box-shadow: -3.536px -3.536px 59px 0px rgba(0, 0, 0, 0.16);
    position: absolute;
    left: 324px;
    top: 47px;
    width: 876px;
    height: 187px;
    z-index: 3;
  }
.main-title p:first-child{
    font-family: "Proxima-Nova-Regular";
    font-size: 15px;
    color: rgb(118, 118, 118);
    line-height: 7px;
    margin-left: 65px;
    margin-top: 42px;
    letter-spacing: 7px;
}
.main-title p:nth-child(2){ 
    font-size: 48px;
    font-family: "PlayfairDisplay";
    margin-left: 65px;
    color: rgb(254, 254, 254);
}
#underline {
    margin-left: 65px;
}
.main-panel {
    background-color: rgb(251, 192, 45);
    box-shadow: -3.536px -3.536px 59px 0px rgba(0, 0, 0, 0.16);
    position: absolute;
    left: 388px;
    top: 234px;
    width: 812px;
    height: 76px;
    z-index: 2;
  }
#main-panel-icons {
    list-style: none;
    display: flex;
  }
#main-panel-icons li {
    margin: 23px;
  }
li img:hover {
    -webkit-filter: invert(+90%);
  }
.main-content p:first-child {
    font-size: 20px;
    font-family: "Proxima-Nova-Regular";
    color: rgb(180, 180, 180);
    line-height: 1.2;
    letter-spacing: 4px;
    margin-top: 200px;      
    margin-left: 125px;  
  }
h1 {
    font-size: 77px;
    font-family: "FuturaPT";
    color: rgb(42, 42, 42);
    margin-top: 50px;
    margin-left: 125px;
  }
.main-content p:nth-child(3) {
    font-size: 30px;
    font-family: "Georgia-Italic";
    color: rgb(143, 143, 143);
    margin-left: 125px;
  }
.main-content p:nth-child(n + 4) {
    font-size: 27px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    margin-left: 125px;
    margin-top: 60px;
    width: 800px;
  }
  