@font-face {
    font-family: "Miso";
    src: url('fonts/miso.otf');
}
main {
    background-color: #FDDE7E;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main > div {
    background-color: white;
    border-radius: 2px;
    min-width: 25%;
    
    box-shadow: 5px 5px 8px black;
    text-align: center;
}
.content-title {
    font-family: "Miso";
    font-weight: bold;
    color: #02995b;
    font-size: 70px;
}
.coffee {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: auto;
    position: relative;
}
.icon-cup {
    fill: black;
    position: relative;
}
.icon-bean {
    position: absolute;
    background-color: transparent;
    top: 65px;
    right: 65px;
}
.content-subtext-title {
    font-family: "Miso";
    font-size: 40px;
}
.content-subtext-subtext {
    font-family: "Miso";
    font-size: 25px;
    font-weight: 200;
}
main > div:hover {
    transform: scale(1.1)
}