@import "variables.scss";
@import "mixins.scss";
@import "media.scss";




* {
  margin:0;
  padding:0;
}

.header {
  margin:auto;
  width: $genwidth;
  background: url(../img/1/header/img.png) center no-repeat;
  padding: 60px 100px 0 100px;
  box-sizing: border-box;

  &__upper-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
  }

  &__info {
    padding-top: 265px;

  }

  &__title {
    font-size: 60px; 
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
  }

  &__text {
    width: 370px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }

  &__button {
    margin-top: 35px;
  }

  &__scroll {
    display: flex;
    justify-content: center;
    }
}
.scroll__img {
  width: 30px;
}
.header:hover .scroll__img{
  fill: #919191;
}
.upper-part {

  &__logo {
   
  }
}
.logo{
  width: 130px;
}
.navigation {

  &__list {
    list-style: none;
    display: flex;
 
    margin-left: 5px;
    margin-right: 5px;
  }

  &__item {
    margin-left: 5px;
    margin-right: 5px;
  }

  &__link {
    text-decoration: none;
    color: black;
    padding-top: 5px;
    border-top: 2px solid none;
  }
  &__link:hover {
    border-top: 2px solid #FF6033;
}
}
.button {

  &__button {
    background-color: #FF6033;
    border: none;
    width: 200px;
    height: 55px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    color:white;
  }
  &__button--blue {
     background-color: rgb(85, 133, 162);
  }
  &__button--green {
    background-color: #96B92C;
 }
  
}
.scroll {

  &__img {
  }
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00c4c4;
  width: $genwidth;
  margin:auto;

  &__img {
    // width: 50%;
  }

  &__content {
    color: white;
    width: 500px;
    // padding-top: 180px;
  }

  &__title {
    font-size: 90px;
    font-family: 'Raleway', sans-serif;
  }

  &__text {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    width: 70%;
    line-height: 27px;
  }
}
.img {

  &__img {
  }
}

// Section 3
.wrapper {
  display: flex;
  flex-direction: column;
  margin:auto;
  // align-items: center;
}
.icon-fonts {
  background-color: #70BFFF;
  width: $genwidth;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;

}
.icon-fonts__text{
  background: url(../img/3/images/img-tomato.png) no-repeat center;
  background-size: cover;

  width: 500px;
  height: 500px;
}
.cart-svg, .quality-svg, .delivery-svg, .carrot-svg {
width: 30px;
height: 30px;
padding: 15px;
}
.icon-fonts__button {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  height: 100%;
  border: 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5); 
  width: 200px;
  height: 75px; 
  margin:10px
}

.button__text {

  width: 70%;
  font-size: 10px;
}
.button__divider::before{
  content: "";
  position: absolute;
  border-left: gray solid 1px;
  height: 100%;
  top: 0;
}
.icon-fonts__tomato {
  color: white;
  font-size: 35px;
  background: url(../img/3/images/img-tomato.png) no-repeat center;
  background-size: contain;
  width: 462px;
  height: 527px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Section 4
.gallery-container {
  background: #FFE92F;
  width: $genwidth;
  margin:auto;
  text-align:center;

  &__title {
    font-size: 90px;
    font-family: "Raleway";
    color: rgb(38, 38, 38);
    font-weight: bold;
  }

  &__subtext {
      font-size: 17px;
      font-family: "Myriad Pro";
      color: rgb(38, 38, 38);
      width: 40%;
      margin: auto;
      
  }

  &__img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
  }
  &__img-container  img{
  
  object-fit: cover;
  vertical-align: bottom;
    object-fit: cover;
  }

  &__col-img {
    display: flex;
    flex-direction: column;
  }

  &__row-img {
    display: flex;
  }
  &__button {
    padding:25px
  }


}

.flex-break {
  flex-basis: 100%;
  height: 110px;
  display: none;
}

// section 5
.subscribe {
  background: url(../img/4/bg.png) center no-repeat;
  background-size: contain;
  width: $genwidth;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left:20%;
  margin:auto;

  &__title {
    font-size: 40px;
    font-family: "Raleway";
    color: rgb(38, 38, 38);
    font-weight: bold;
    
  }

  &__subtext {
      font-size: 17px;
      font-family: "Myriad Pro";
      color: rgb(38, 38, 38);
      width: 40%;
      
      
  }

  &__enter-email {
    display: inline-block;
    height: 55px;
    width: 30%;
    box-sizing: border-box;
    margin-right: 5%;
    border:1px solid black;
  }

  &__button {
    display: inline-block;
  }
}

//section 6

.blog {
  height: 865px;
  width: $genwidth;
  background-color: #AF7BF5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
  

  &__title {
  margin: 0 auto;
  color: white;
  width: 45%;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 65px;
  }

  &__subtitle {
    width: 45%;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }

  &__posts {
    display: flex;
    justify-content: center;
  }
}
.post {
  width: 388px;
  height: 328px;
  position: relative;
  left: 15px;

  &__bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  &__date  {
    background: url(../img/6/blog1/day/bg.png);
    position: absolute;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    top: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__date p{
    color: white;
    text-align: center;
    // line-height: 1px;
    font-size: 20px;
    display: block;
  }
  &__text {
    position: absolute;
    bottom: 50px;
    left: 20px;
    color: white;
  }
  &__text small {
    font-weight: lighter;
    color: whitesmoke;
  }
}
.post:before {
  content: '';
  display: block;
  position: absolute;
  width: 370.5px;
  height: 0px;
  bottom: 9px;
  left: 8.5px;
  transition: height 0.3s ease-out;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  z-index: 10;
}

.post:hover:before {
  height: 50%;
  bottom: 9px;
  left: 8.5px;
}
.first-bg-img {
  background: url(../img/6/blog1/back.png);
}
.second-bg-img {
  background: url(../img/6/blog2/img2.png);
  margin-top: 3px;
  margin-left: 4px;
  background-repeat: no-repeat;
}
.thr-bg-img {
  background: url(../img/6/blog3/img.png);
  margin-top: 3px;
  margin-left: 4px;
  background-repeat: no-repeat;
}
.button {
  &__button--red {
    background: red;
  }
}


.post {
  width: 388px;
  height: 328px;
  position: relative;
  left: 15px;

  &__bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  &__date  {
    background: url(../img/6/blog1/day/bg.png);
    position: absolute;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    top: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__date p{
    color: white;
    text-align: center;
    // line-height: 1px;
    font-size: 20px;
    display: block;
  }
  &__text {
    position: absolute;
    bottom: 50px;
    left: 20px;
    color: white;
  }
  &__text small {
    font-weight: lighter;
    color: whitesmoke;
  }
}
.post:before {
  content: '';
  display: block;
  position: absolute;
  width: 370.5px;
  height: 0px;
  bottom: 9px;
  left: 8.5px;
  transition: height 0.3s ease-out;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  z-index: 10;
}

.post:hover:before {
  height: 50%;
  bottom: 9px;
  left: 8.5px;
}
.first-bg-img {
  background: url(../img/6/blog1/back.png);
}
.second-bg-img {
  background: url(../img/6/blog2/img2.png);
  margin-top: 3px;
  margin-left: 4px;
  background-repeat: no-repeat;
}
.thr-bg-img {
  background: url(../img/6/blog3/img.png);
  margin-top: 3px;
  margin-left: 4px;
  background-repeat: no-repeat;
}
.button {
  &__button--red {
    background: red;
  }
}
// 7 and footer
.contact {
  background: url(../img/7/images/background.png);
  background-size: cover;
  width: $genwidth;
  margin:auto;
  &__title {
    padding-top: 100px;
    font-size: 90px;
    font-family: "Raleway";
    color: rgb(38, 38, 38);
    font-weight: bold;
    text-align: center;
  }

  &__support-title {
    padding-top: 45px;
    font-size: 17px;
    font-family: "Raleway";
    color: rgb(38, 38, 38);
    text-align: center;
  }
    &__content {
      display: flex;
        justify-content: space-around;
  }

  &__form-content {
    width: 30%;
  }
  &__input {
    height: 50px;
  width: 100%;
  margin-bottom:10px;
  }
  &__text-area {
    height: 250px;
    width: 100%;
  }
  &__input, &__text-area {
    background-color: #78DAD9;
    border: none;
  }
  &__button:focus,&__input:focus,&__textarea:focus {
    background-color: #00C4C4;
    border: none;
    outline: none ;
  }
  &__add-info{
    width: 350px;
  }
}

footer {
  background: url(../img/7/images/bg-foodter.png);
    display: flex;
    justify-content: space-between;
    width: $genwidth;
    height: 50px;
    align-items: center;
    margin: auto;
    color: rgb(185, 185, 185);
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;

}
footer>p>span {
  color:red
}
.footer {

  &__rights {
    font-size: 16px;
    font-family: "Raleway";
    color: rgb(185, 185, 185);
    
  }

  &__logo {
    font-size: 25px;
    font-family: "Pacifico";
    color: rgb(185, 185, 185);
    text-align: right; 
  }

  &__made {
    font-size: 15px;
    font-family: "Raleway";
    color: rgb(185, 185, 185);
  }
}

@media screen and (max-width: 576px) {
  // .page {
  //   margin: auto
  // }
  .header,.main,.footer,.icon-fonts,.gallery-container,.subscribe,.blog,.contact{
    width: 350px;
    flex-direction: column;
    margin:auto;
  }
  .header {
    margin:auto;
    
    padding: 20px 30px 0 30px;
    box-sizing: border-box;
    padding-bottom: 20px;
  
    &__upper-part {
      
      flex-direction: column;

    }
    &__info {
      padding-top: 50px
    }
  
    &__nav {
      display: flex;
      font-size: 10px;
    }
    &__title {
      font-size: 20px;
    }
    &__text {
      width: 200px;
      font-size: 15px;
    }
    &__scroll {
      display: none;
    }

  }
  .button__button {
    display: block;
    margin: auto;
  }
  .main__content {
    width: 200px
  }
  .main__title {
    font-size: 20px;
  }
  .main__text {
    font-size: 15px;
    width: 100%;
  }
  .img__img {
    width: 250px;
  }
  .icon-fonts {
    flex-direction: column-reverse;
    
  }
  .icon-fonts__tomato {
    width: 250px;
    height: 100px;
   
  }
  .icon-fonts__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .icon-fonts__button {
    width: 130px;
    height: 50px;
   
  }
  .gallery-container__img-container img{
    width: 300px;
  }
  // .gallery-container__col-img {
  //   flex-direction: row;
  // }
  .gallery-container__row-img {
    flex-direction: column;
  }
  .gallery-container__row-img img{
    width: 300px;
  }
  
  .gallery-container__col-img img{
    width: 300px;
  }
  .gallery-container {

		&__title {
      font-size: 20px;
		}

		&__subtext {
      font-size: 15px;
      width: 300px;
		}
}
.subscribe {

  background-size: 500px;
  background-position-x: -60px;
  padding:0;
  &__title {
    font-size: 20px;
    width: 300px;
    margin-left: 15px;
    margin-bottom: 20px ;
    margin-top: 40px
  }

  &__subtext {
    font-size: 15px;
    width: 250px;
    margin-left: 15px;
    margin-bottom: 40px ;
  }
  &__input-button input {
    display: block;
    width: 100%;

  }
  &__button {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  // &__enter-email {
  //   display: block;
  // }
 
}
.blog {
  height: auto;

  &__title {
  }

  &__subtitle {
    display: block;
    width: 300px;
  }

  &__posts {
    flex-direction: column;
    width: 100%;
    .post {
      width: 315px;  
    }
  }
  &__button {
    margin-bottom: 15px;
  }
}
.blog__title,.contact__title {
  font-size: 20px;
  margin: 0;
  padding: 0;
  

}
.contact__support-title {
  padding-top: 5px;
}
.contact__add-info {
  display:none;
}
.contact__form-content {
  width: 80%;
}
.footer {
  padding: 0;
  height:auto;
  display:flex
}

.footer {

  &__rights {
    padding: 0;
  font-size:12px;
  }

  &__logo {
    padding: 0;
  font-size:12px;
  }

  &__made {
    padding: 0;
  font-size:12px;
  }
}


  // .header {width: 350px;}
}

@media screen and (min-width: 576px) and (max-width: 972px) {
  
  .header,.main,.footer,.icon-fonts,.gallery-container,.subscribe,.blog,.contact{
    width: 750px;
    margin:auto;
   
  }
  .header {
    padding: 20px 30px 0 30px;
    box-sizing: border-box;
    padding-bottom: 20px;
  
    &__upper-part {
      
      flex-direction: column;

    }
    &__info {
      padding-top: 50px
    }
  
    &__nav {
      display: flex;
      font-size: 10px;
    }
    &__title {
      font-size: 20px;
    }
    &__text {
      width: 200px;
      font-size: 15px;
    }
    &__scroll {
      display: none;
    }

  }
  .button__button {
    display: block;
    margin: auto;
  }
  .main__content {
    width: 50%
  }
  .main__title {
    font-size: 20px;
  }
  .main__text {
    font-size: 15px;
    width: 100%;
  }
  .img__img {
    width: 80%
  }
  .icon-fonts {
    flex-direction: column-reverse;
    
  }
  .icon-fonts__tomato {
    width: 350px;
    height: 200px;
   
  }
  .icon-fonts__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .icon-fonts__button {
    width: 160px;
    height: 50px;
   
  }
  .gallery-container__img-container img{
    width: 600px;
  }
  // .gallery-container__col-img {
  //   flex-direction: row;
  // }
  .gallery-container__row-img {
    flex-direction: column;
  }
  .gallery-container__row-img img{
    width: 300px;
  }
  
  .gallery-container__col-img img{
    width: 300px;
  }
  .gallery-container {

		&__title {
      font-size: 20px;

		}

		&__subtext {
      font-size: 15px;
      width: 500px;
		}
}
.subscribe {

  background-size: 700px;
  // background-position-x: -60px;
  padding:0;
  &__title {
    font-size: 20px;
    width: 300px;
    margin-left: 35px;
    margin-bottom: 20px ;
    margin-top: 60px
  }

  &__subtext {
    font-size: 15px;
    width: 400px;
    margin-left: 25px;
    margin-bottom: 40px ;
  }
  &__input-button input {
    display: block;
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;

  }
  &__button {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.blog {
  height: auto;
  padding-top: 25px;

  &__title {
    font-size: 25px;
    width: 300px;
    margin-left: 35px;
    margin-bottom: 20px ;
    margin-top: 60px
  }

  &__subtitle {
    display: block;
    width: 600px;
  }

  &__posts {
    // flex-direction: column;
    flex-wrap: wrap;
    // width: 100%;
    .post {
 
      transform: scale(0.9);
      left: 0; 
      flex: 1 1 30%; /*grow | shrink | basis */
    }
  }
  &__button {
    margin-bottom: 15px;
  }
}
.blog__title,.contact__title {
  font-size: 20px;
  margin: 0;
  padding: 0;
  

}
.contact__support-title {
  padding-top: 5px;
}
.contact__add-info {
  // display:none;
}
.contact__form-content {
  width: 50%;
}
.footer {
  padding: 0;
  height:auto;
  display:flex
}

.footer {

  &__rights {
    padding: 0;
  font-size:12px;
  }

  &__logo {
    padding: 0;
  font-size:12px;
  }

  &__made {
    padding: 0;
  font-size:12px;
  }
}


  // .header {width: 350px;}
}
